.submit-input {
  background: rgb(102, 119, 104);
  color: rgb(255, 255, 255);
  padding: .3rem 1rem;
  border: none;
  min-height: 1rem;
}

.file-input {
  color: rgb(63, 63, 63);
  width: 100%;
}
.file-input::file-selector-button {
  background: rgb(102, 119, 104);
  color: rgb(255, 255, 255);
  padding: .3rem 1rem;
  border: none;
}