.tool-bar {
  display: grid !important;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: .5rem;
  justify-items: center;
  border-left: solid .04rem #badcb6 !important;
  border-radius: .3rem;
  margin: 1rem !important;
  padding: 1rem 0 !important;
  background: linear-gradient(45deg, #badcb612, transparent);
}

.tool-bar .sync { grid-area: 1 / 1 / 3 / 2; }
.tool-bar .category { grid-area: 1 / 2 / 3 / 4;}
.tool-bar .more { grid-area: 1 / 4 / 3 / 7; }
.tool-bar .select-type { grid-area: 1 / 7 / 3 / 10; }
.tool-bar .priority-icon { grid-area: 1 / 10 / 3 / 11; }

.tool-bar.minified .sync { grid-area: 1 / 1 / 2 / 3; }
.tool-bar.minified .select-type { grid-area: 1 / 3 / 2 / 9; }
.tool-bar.minified .priority-icon { grid-area: 1 / 9 / 2 / 11; }
.tool-bar.minified .category { grid-area: 2 / 2 / 3 / 5; }
.tool-bar.minified .more { grid-area: 2 / 5 / 3 / 10; }

.tool-bar button span {
  margin-top: 0.1rem;
  padding-right: 0.3rem;
  font-size: 0.7rem;
}

.tool-bar button {
  border-radius: 1rem;
  height: 2.5rem;
  padding: 0 0.7rem;
    min-width: auto;
}

.tool-bar .MuiSelect-select {
  font-size: .8rem;
}