.App-logo {
  height: 4rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  padding: 1rem 2rem 1rem 1.5rem;
  box-shadow:
  rgba(84, 185, 72, 0.12) 0px 1px 2px,
  rgba(84, 185, 72, 0.08) 0px 2px 4px,
  rgba(84, 185, 72, 0.04) 0px 3px 6px;

}
