
.registerForm {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto 8rem auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.registerForm > .title {
  grid-area: 1 / 1 / 2 / 4;
}

.registerForm > .counter-stock {
  grid-area: 3 / 1 / 4 / 2;
}

.registerForm > .status {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  grid-area: 3 / 2 / 4 / 4;

}

.registerForm > .notes {
  grid-area: 5 / 1 / 6 / 4;
}

.registerForm > .description {
  grid-area: 2 / 1 / 3 / 4;
}

.registerForm > .owner {
  grid-area: 4 / 1 / 5 / 4;

}

.registerForm > .actions {
  grid-area: 6 / 1 / 7 / 4;

}

.registerForm > .helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: .3rem;
}
