.App {
  text-align: center;
  background: #fbfbfb;
  min-height: 100vh;
}

.App-logo {
  height: 4rem;
  pointer-events: none;
}

.App-header {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  box-shadow: inset 0px -5px 4px -8px rgba(0, 0, 0, 0.75);
  padding: 1rem 2rem;
}

.App-link {
  color: #61dafb;
}

.file-bar {
  display: flex;
  gap: 1rem;
  border: .1rem solid rgb(116, 131, 118);
  background-color: rgb(242, 242, 242);
  border-radius: 1rem;
  overflow: hidden;
  font-size: .7rem;
  margin: 0 3rem;

}
.submit-input {
  background: rgb(102, 119, 104);
  color: rgb(255, 255, 255);
  padding: .3rem 1rem;
  border: none;
  min-height: 1rem;
}

.file-input {
  color: rgb(63, 63, 63);
  width: 100%;
}
.file-input::file-selector-button {
  background: rgb(102, 119, 104);
  color: rgb(255, 255, 255);
  padding: .3rem 1rem;
  border: none;
}
.tool-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 768px) {
  .App-header {
    gap: 2rem;
    flex-direction: column;


  }

  .tool-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  .view-table > [data-table-library_table] {
    --data-table-library_grid-template-columns: minmax(0px, 4fr) minmax(0px, 6fr) minmax(0px, 1fr) minmax(0px, 2fr) !important;
  }
}

.view-table {
  background: #fefefe;
  padding: 1rem;
}

table {
  width: 100%;
}

tr {
  padding: .3rem;
  font-size: .8rem !important;
  text-align: left;
}
.expand {
  display: flex;
  grid-column: 1 / -1;
  background: #fff;
}

.preview {
  width: 100%;
}

.row-tree-leaf {
  font-style: oblique;
  font-weight: bold;
}

.MuiFormLabel-root {
  font-size: .8rem !important;
}

@media (min-width: 768px) {
  .view-table > [data-table-library_table] {
    --data-table-library_grid-template-columns: minmax(0px, 5fr) minmax(0px, 10fr) minmax(0px, 2fr) minmax(0px, 2fr) minmax(0px, 2fr) minmax(0px, 1fr)!important;
  }
  .registerForm {
    display: grid !important;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 3.5rem 3.5rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 0 10%;
    margin-top: 2rem;
  }
  
}

.hide {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
}

.registerForm {
  gap: 1rem;
  padding: 1rem !important;
}
.registerForm > .description {
  grid-area: 1 / 1 / 2 / 5;
}
.registerForm > .partNumber {
  grid-area: 1 / 5 / 2 / 9;
}
.registerForm > .select {
  grid-area: 2 / 1 / 3 / 4;
}
.registerForm > .stock {
  grid-area: 2 / 4 / 3 / 9;
}
.registerForm > .submit {
  grid-area: 1 / 9 / 3 / 10;
}
.loader {
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
}