.App {
  background: #fdfdfd;
  height: 100dvh;
  width: 100dvw;
}

.App.minified .tool-bar button span {
  display: none;
}


.loader {
  grid-area: 2 / 1 / 3 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 6rem auto 80vw auto 6rem;
  grid-template-rows: 4rem auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "header     header    header    header    header"
    "barTools   margL     main      margR     aside";
}

.App.minified {
  grid-template-columns: auto;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas:
    "header"
    "main"
    "barTools";
}

.App > .App-header {
  grid-area: header;
}

.App > .container {
  grid-area: main;
  overflow-y: scroll;
}

.App > .overView.aside {
  grid-column: margR-start / aside-end ;
  grid-row: margR-start / aside-end ;
}

.App.minified > .overView {
  grid-area: main !important;
}

.App > .stock-bar {
  grid-area: barTools;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1.5rem;
}

.App.minified > .stock-bar {
  flex-direction: row !important;
  align-items: center;
  padding: 2rem !important;
}

.App.minified .stock > :only-child {
  flex-direction: row-reverse !important;
}

.MuiSnackbar-root > :only-child {
  background: #cfd9ce;
  color: #4b4b4b;
}

.priority-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-icon.LOW {
  color: rgb(205, 238, 205);
}
.priority-icon.MID {
  color: rgb(184, 186, 153);
}
.priority-icon.HIGH {
  color: rgb(247, 221, 221);
}
.priority-icon.ALL {
  color: rgb(128, 118, 160);
}