html {
  scrollbar-gutter: stable;
}
form{
  height: 100%;
  position: relative;
}
.App {
background-color: #ffffff;
opacity: 1;
background-color: #ffffff;
opacity: 1;
background: linear-gradient(135deg, #eafae655 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #eafae6 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #eafae655 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #eafae6 25%, #ffffff 25%) 0px 0/ 80px 80px;
width: 100%;
}

.App.minified .tool-bar button span {
  display: none;
}


.loader {
  grid-area: 2 / 1 / 3 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 6rem auto 80vw auto 6rem;
  grid-template-rows: 6rem auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "header     header    header    header    header"
    "barTools   margL     main      margR     aside";
  justify-items: center;
}

.App.minified {
  grid-template-columns: auto;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas:
    "header"
    "main"
    "barTools";
}

.App > .App-header {
  grid-area: header;
}

.App > .container {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding-top: 1rem;
  gap: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.App > .aside {
  grid-column: margR-start / aside-end ;
  grid-row: margR-start / aside-end ;
}

.App.minified > .overView {
  grid-area: main !important;
}

.App > .stock-bar {
  grid-area: barTools;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1.5rem;
  height: 85vh;
  width: 5rem;
  margin-top: 1rem;
  top: 1rem;
  position: sticky;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.App.minified > .stock-bar {
  flex-direction: row !important;
  align-items: center;
  padding: 2rem !important;
}

.App.minified .stock > :only-child {
  flex-direction: row-reverse !important;
}

.MuiSnackbar-root > :only-child {
  background: #cfd9ce;
  color: #4b4b4b;
}

.priority-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-icon.LOW {
  color: rgb(205, 238, 205);
}
.priority-icon.MID {
  color: rgb(184, 186, 153);
}
.priority-icon.HIGH {
  color: rgb(247, 221, 221);
}
.priority-icon.ALL {
  color: rgb(128, 118, 160);
}

