.App {
background-color: #ffffff;
opacity: 1;
background-image: linear-gradient(
  to right,
  #fdfdfd,
  #fdfdfd 30px,
  #ffffff 30px,
  #ffffff 60px
);
background-size: 60px 100%;

  width: 100%;
}

.App.minified .tool-bar button span {
  display: none;
}


.loader {
  grid-area: 2 / 1 / 3 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  grid-template-columns: 6rem auto 80vw auto 6rem;
  grid-template-rows: 6rem auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "header     header    header    header    header"
    "barTools   margL     main      margR     aside";
}

.App.minified {
  grid-template-columns: auto;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas:
    "header"
    "main"
    "barTools";
}

.App > .App-header {
  grid-area: header;
}

.App > .container {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding-top: 1rem;
  gap: 1rem;
}

.App > .aside {
  grid-column: margR-start / aside-end ;
  grid-row: margR-start / aside-end ;
}

.App.minified > .overView {
  grid-area: main !important;
}

.App > .stock-bar {
  grid-area: barTools;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 85vh;
  top: 1rem;
  position: sticky;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.App.minified > .stock-bar {
  flex-direction: row !important;
  align-items: center;
  padding: 2rem !important;
}

.App.minified .stock > :only-child {
  flex-direction: row-reverse !important;
}

.MuiSnackbar-root > :only-child {
  background: #cfd9ce;
  color: #4b4b4b;
}

.priority-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-icon.LOW {
  color: rgb(205, 238, 205);
}
.priority-icon.MID {
  color: rgb(184, 186, 153);
}
.priority-icon.HIGH {
  color: rgb(247, 221, 221);
}
.priority-icon.ALL {
  color: rgb(128, 118, 160);
}

